@model MyBookingViewModel


<section class="body-wrapper">
    <div class="section-header-wrapper">
        <h1 class="section-header">My Account</h1>
    </div>
    <div class="sigin-wrapper">
        <div class="sigin-container">
            <aside>
                <partial name="Partials/_MySideMenuSection" />
                <div>
                        <partial name="Partials/_EditBookingSection" model="Model" />
                </div>
            </aside>

            <section class="main-menu-My">
                <div class="signin-form">
                    <h1>My Booking</h1>
                    <hr />
                    @if (Model is not null)
                    {
                        @if (Model.MyWorkouts.Count() == 0)
                        {
                            <p>You Have No Booked Passes</p>
                        }

                        @if (Model.MyWorkouts.Count() != 0)
                        {
                            foreach (var workout in Model.MyWorkouts)
                            {
                                
                                <div>
                                    <p> @workout.Name </p>
                                    <p> @workout.Category </p>
                                    <p> @workout.Instructions </p>
                                    <p> @workout.Date </p>
                                    <p> @workout.Time </p>
                                </div>

                                <section>
                                    <form asp-controller="Booking" asp-action="DeleteBooking" method="post">
                                        <input type="hidden" value="@workout.Id" name="id" />
                                        <button type="submit" value="delete">Delete</button>
                                    </form>
                                </section>
                            }
                        }
                    }
                </div>
            </section>
        </div>
    </div>
</section>
