@model MyAccountViewModel

@{
    ViewData["Title"] = "My Booking";
}

<section>
    <div class="section-header-wrapper">
        <h1 class="section-header">My Account</h1>
    </div>
    <div class="sigin-wrapper">
        <div class="sigin-container">
            <aside>
                <partial name="Partials/_MySideMenuSection" model="Model" />
                <div>

                </div>
            </aside>

            <section>
                <form class="signin-form" asp-action="MyBooking" asp-controller="User" novalidate>
                    <h1>My Booking</h1>
                    <hr />

                    @if (!string.IsNullOrWhiteSpace(ViewData["Message"]?.ToString()))
                    {
                        if (ViewData["MessageType"]?.ToString() == "error")
                        {
                            <div class="error-in-text">
                                @ViewData["Message"]
                            </div>
                        }
                        else
                        {
                            <div class="success-in-text">
                                @ViewData["Message"]
                            </div>
                        }
                    }
                    @if(Model.MyBookingViewModel is not null)
                    {
                        @if (Model.MyBookingViewModel.Workouts.Count() == 0)
                        {
                            <p>You Have No Booked Passes</p>
                        }

                        @if (Model.MyBookingViewModel.Workouts.Count() != 0)
                        {
                            foreach (var workout in Model.MyBookingViewModel.Workouts)
                            {
                                <div>
                                    <p> @workout.Name </p>
                                    <p> @workout.Category </p>
                                    <p> @workout.Instructions </p>
                                    <p> @workout.Date </p>
                                    <p> @workout.Time </p>
                                </div>

                                <section><form asp-controller="Booking" asp-action="DeleteBooking" method="post"><input type="submit" name="id" value="@workout.Id" /></form></section>

                            }
                        }
                    }
                </form>
            </section>
        </div>
    </div>
</section>
